numpy
scipy
ipython
ipywidgets
flask
sphinx==1.4.8
docutils==0.12
matplotlib
properties[math]
sphinxcontrib-bibtex
sphinx_rtd_theme
Pillow
em_examples
SimPEG



.. "conda list _______" for version of conda related (sphinx, docutils, ...)
.. "conda install ______==___" to install specific version (ex: conda install sphinx==1.4.8)
