numpy
scipy
ipython
ipywidgets
sphinx==1.4.8
matplotlib
properties
sphinxcontrib-bibtex
sphinx_rtd_theme
Pillow
git+git://github.com/ubcgif/em_examples.git
git+git://github.com/simpeg/simpeg.git@analytics
