* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
html {
  position: relative;
  min-height: 100%;
}
h1, h2, h3, h4{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
#wrap, .wrap
    {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -80px;
    }
#push,
#footer,
.footer
    {
        height: 80px;
        bottom: 10px;
    }

footer,
.footer
    {
        /*position: absolute;*/
        /*bottom: 0;*/
        /* Set the fixed height of the footer here */
        background-color: #fff;
        font-size: 12px;
        text-align: right;
        padding-bottom:12px;
    }



/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .credit {
margin: 20px 0;
}

code {
font-size: 100%;
}
