/* changed side navigation bg color */

.wy-side-nav-search {
    background-color: #175f59 !important;
}

.wy-nav-top {
    background-color: #175f59 !important;
}

.wy-side-nav-search input[type=text]{
    border-color: #6e9491 !important;
}

.wy-nav-content {
    max-width: 800px!important;
    overflow: auto;
}

#contstruction div {
    background-color: #f0f0f0;
    padding-left: 20px;
    padding-right: 20px
}

div.admonition-purpose.admonition {
    background-color: #f0f0f0 !important;
    margin-left: -12px;
    margin-right: -12px;
    padding: 1px 12px;
    margin-bottom: 12px;
}

#purpose.admonition-purpose.admonition .admonition-title {
    background-color: #175f59 !important;
}

div.admonition-question.admonition {
    background-color: #f0f0f0 !important;
    margin-left: -12px;
    margin-right: -12px;
    padding: 1px 12px;
    margin-bottom: 12px;
}

#question.admonition-question.admonition .admonition-title {
    background-color: #DAA520 !important;
}
